.teamsComponentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* To ensure the pseudo-element doesn't overflow */
  box-sizing: border-box;
  padding: 20px;
}

.teamsComponentContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    repeating-linear-gradient(
      45deg, 
      transparent, 
      transparent 70px, 
      rgba(255, 255, 255, 0.5) 100px, 
      rgba(255, 255, 255, 0.5) 200px,
      rgba(182, 81, 81, 0.5) 100px
    ),
    url('../public/images/nfl.svg');
  background-size: 100px;
  background-repeat: repeat;
  opacity: 0.2; /* Adjust opacity here */
  z-index: -1; /* Ensure it's behind the content */
}

.bulletinBoard {
  width: 800px;
  height: 500px;
  background-color: #edeef0;
  border: 12px solid rgb(28, 54, 103);
  box-sizing: border-box;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  z-index: 1; /* Ensure it's above the pseudo-element */
}

.team {
  width: 5rem;
  margin: 5px;
  height: 80px;
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.team :hover {
  transform: scale(1.2);
  /* background-color: rgba(0, 255, 255, 0.253); */
  /* border: 2px solid blue; */
  box-sizing: border-box;
}

/* .teamLink :hover {
  background-color: transparent;
  border: none;
} */




.bannerContainer {
  width: 500px;
  height: 125px;
  background-color: #edeef0;
  border: 10px solid rgb(181, 32, 37);
  margin-bottom: 35px;
  /* -webkit-text-stroke-color: rgb(230, 65, 0); */
  text-shadow: black 1px 1px 4px;
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
  box-sizing: border-box;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
/* -webkit-text-stroke-color: #e08ab4;
-webkit-text-stroke-color: rgb(200 100 0); */
}
